<%- include('components/head'); %>

<%- include('components/header'); %>

    <div class="container">
        <h1>Funcionários</h1>
        
        <a href="funcionarios/novo" class="mt-4 btn btn-lg btn-primary">Adicionar Funcionário</a>

        <table class="table mt-4 mb-5">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Função</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <% funcionarios.forEach((el) =>{ %>
                <tr>
                    <th scope="row"><%=el.nome %></th>
                    <td><%=el.idade %></td>
                    <td><%=el.funcao %></td>
                    <td><a href="funcionarios/<%=el.id%>">editar</a> / <a href="funcionarios/excluir/<%=el.id%>">excluir</a></td>
                </tr>
                <%})%>
            </tbody>
        </table>

    </div>

<%- include('components/footer'); %>